@import url(./icons.css);

.el-input__wrapper, .el-select__wrapper {
   @apply !rounded-xl !bg-[#F4F7FB] !border-none !h-12 !shadow-none;
}

.el-tabs__item {
   @apply !text-text !text-lg;
}

.is-active {
   @apply !text-black !font-commissioner-600;
}

.el-textarea__inner {
   @apply !rounded-xl !bg-[#F4F7FB] !border-none !shadow-none;
}

.el-input__wrapper:focus-visible {
   outline: none !important;
}

.el-pager {
   .is-active {
      color: white !important;
   }
}

.el-form-item__label {
   @apply !text-primary-light !font-commissioner-600 !text-base;
}

/* button {
    @apply py-3 px-4 rounded-xl h-12 font-commissioner-700;
} */

input {
   /* @apply !bg-text/40; */
}

input:focus {
   box-shadow: none !important;
}

select:focus {
   box-shadow: none !important;
}

.el-dialog {
   border-radius: 20px !important;
}

.el-dialog__header {
   display: none !important;
}

i.primary::before {
   @apply text-primary;
}

i.danger::before {
   @apply text-danger;
}

i.white::before {
   @apply text-white;
}

.el-button {
   @apply !h-12 !rounded-2xl;
}